<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./shared/styles") %>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include("./shared/header") %>

<body>
    <main>
        <body>
            <div class="container">
                <h1 class="mb-4">View Orders</h1>
                <!-- Table to display orders -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Product ID</th>
                            <th scope="col">Amount</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Fulfilled At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                            <tr>
                                <td><%= order.orderid %></td>
                                <td><%= order.productid %></td>
                                <td><%= order.amount %></td>
                                <td><%= order.userid %></td>
                                <td><%= order.fulfilledAt %></td>
                              </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
    </main>
    <%- include("./shared/footer") %>
</body>


</html>