<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
<body>
  <%- include("./shared/header") %>
  
  <div class="container-fluid backgroundColor">
    <div class="container">
      <div class="row" style="margin-top:100px">
        Your Recipes:
      </div>
      <div class="row" style="margin-bottom:30px;">
        <div class="col-6 recipe-in-top">
          <% for(let i = 0; i < recipes.length; i+=2) { %>
            <a href="/public/recipes/<%= recipes[i].id %>" class="list-element-title"><%= recipes[i].name %></a>
            <img src="<%= recipes[i].image %>" class="img-square-150">
          <% } %>
        </div>
        <div class="col-6 recipe-in-top">
          <% for(let i = 1; i < recipes.length; i+=2) { %>
            <a href="/public/recipes/<%= recipes[i].id %>" class="list-element-title"><%= recipes[i].name %></a>
            <img src="<%= recipes[i].image %>" class="img-square-150">

          <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include("./shared/footer") %>
</body>
</html>

