<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
<body>
  <%- include("./shared/header") %>

  <div class="container-fluid backgroundColor">
    <div class="container">
      <%- include("./shared/banner") %>

      <div class="row green-line"></div>
      <div class="row">
        <div class="col-12 topRecipes">
            <form id="recipeForm" method="POST" action="/public/createnewrecipe">
              <div class="row">
                <div class="col-4">
                  <label for="recipeName">Recipe Name:</label>
                  <input type="text" id="recipeName" name="recipeName"><br><br>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description"></textarea><br><br>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div id="ingredientsContainer">
                    <div class="ingredients">
                      <label for="ingredients1">Ingredient 1:</label>
                      <input type="text" id="ingredients1" name="ingredients1">
                    </div>
                  </div>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                  <div id="amountContainer">
                    <div class="amount">
                      <label for="amount1">Ingredient 1 Amount:</label>
                      <input type="text" id="amount1" name="amount1">
                    </div>
                  </div>
                </div>
              </div>


                <button type="button" id="addIngredient">Add Ingredient</button><br><br>
              <div class="col-4">
                <div id="stepsContainer">
                  <div class="steps">
                    <label for="steps1">Step 1:</label>
                    <input type="text" id="steps1" name="steps1">
                  </div>
                </div>
              </div>
                
                <button type="button" id="addStep">Add Step</button><br><br>
                
                <button type="submit">Submit Recipe</button>
            </form>
        </div>
        
        
      </div>
    </div>
  </div>

  <%- include("./shared/footer") %>
</body>
<script>
    document.getElementById('addStep').addEventListener('click', function() {
      const stepsContainer = document.getElementById('stepsContainer');
      const stepNumber = stepsContainer.childElementCount + 1;
      const newStep = document.createElement('div');
      newStep.innerHTML = `
        <label for="steps${stepNumber}">Step ${stepNumber}:</label>
        <input type="text" id="steps${stepNumber}" name="steps${stepNumber}">
      `;
      stepsContainer.appendChild(newStep);
    });

    document.getElementById('addIngredient').addEventListener('click', function() {
      const stepsContainer = document.getElementById('ingredientsContainer');
      const stepNumber = ingredientsContainer.childElementCount + 1;
      const newStep = document.createElement('div');
      newStep.innerHTML = `
        <label for="ingredients${stepNumber}">Ingredient ${stepNumber}:</label>
        <input type="text" id="ingredients${stepNumber}" name="ingredients${stepNumber}">
      `;
      ingredientsContainer.appendChild(newStep);
    });

    document.getElementById('addIngredient').addEventListener('click', function() {
      const stepsContainer = document.getElementById('amountContainer');
      const stepNumber = amountContainer.childElementCount + 1;
      const newStep = document.createElement('div');
      newStep.innerHTML = `
        <label for="amount${stepNumber}">Ingredient ${stepNumber} Amount:</label>
        <input type="text" id="amount${stepNumber}" name="amount${stepNumber}">
      `;
      amountContainer.appendChild(newStep);
    });
    
    document.getElementById('recipeForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);
      const jsonData = {};
      let xhr = new XMLHttpRequest();
      
      // send Form data to server
      xhr.open("POST", recipeForm.action);
      xhr.setRequestHeader("Content-Type", "application/json");
      
      for (const [key, value] of formData.entries()) {
          jsonData[key] = value;
      }
      const jsonString = JSON.stringify(jsonData);
      console.log(jsonString);
      xhr.send(jsonString);
       // Send jsonString to server via HTTP request
    });
    </script>
</html>
