<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
  <%- include("./shared/header") %>

  <div class="container-fluid backgroundColor">
    <div class="container">
      <div class="row">
        <img src="/public/img/foodBanner.jpg" alt="" height="350" width="1140">
        <div class="hunterGather">Hunter Gather</div>
      </div>
      <div class="row green-line"></div>
      <div class="row ht200">
        <div class="col-4 topRecipes">
          <p>Top Recipes</p>
        </div>
      </div>
      <div class="row">

        <div class="col-6 recipe-in-top">
          <% for(let i = 0; i < recipes.length; i+=2) { %>
            <a href="/public/recipes/<%= recipes[i].id %>" class="list-element-title"><%= recipes[i].name %></a>
            <img src="<%= recipes[i].image %>" class="img-square-150">
          <% } %>
        </div>
        <div class="col-6 recipe-in-top">
          <% for(let i = 1; i < recipes.length; i+=2) { %>
            <a href="/public/recipes/<%= recipes[i].id %>" class="list-element-title"><%= recipes[i].name %></a>
            <img src="<%= recipes[i].image %>" class="img-square-150">
          <% } %>
        </div>
      </div>
      <div class="row green-line"></div>
      <div class="row">
        <div class="col-4 topRecipes">
          <p>Meet the Chefs</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 recipe-in-top">
          <a href="" class="list-element-title">John Smith</a>
          <img src="img/chef1.jpg" class="img-square-150">
          <a href="" class="list-element-title">Eva</a>
          <img src="img/chef2.jpg" class="img-square-150">
        </div>
        <div class="col-6 recipe-in-top">
          <a href="" class="list-element-title">Christian</a>
          <img src="img/chef3.jpg" class="img-square-150">
          <a href="" class="list-element-title">Alec</a>
          <img src="img/chef4.jpg" class="img-square-150">
        </div>
      </div>

    </div>
  </div>

  <%- include("./shared/footer") %>
</body>
</html>