<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
<body>
  <%- include("./shared/header") %>

  <div class="container-fluid backgroundColor">
    <div class="container">
      <%- include("./shared/banner") %>

      <div class="row green-line"></div>
      <div class="row ht200">
        <div class="col-4 topRecipes">
          <p><%= pageTitle %></p>
        </div>
        <div class="col-6"></div>
        <!-- <div class="col-2 sort-recipes">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Sort By
          </button>
        </div> -->
      </div>
      <div class="row" style="margin-bottom:30px;">
        <div class="col-6 recipe-in-top">
          <% for(let i = 0; i < products.length; i+=2) { %>
            <a href="/public/products/<%= products[i].id %>" class="list-element-title"><%= products[i].name %></a>
            <img src="<%= products[i].image %>" class="img-square-150">
          <% } %>
        </div>
        <div class="col-6 recipe-in-top">
          <% for(let i = 1; i < products.length; i+=2) { %>
            <a href="/public/products/<%= products[i].id %>" class="list-element-title"><%= products[i].name %></a>
            <img src="<%= products[i].image %>" class="img-square-150">

          <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include("./shared/footer") %>
</body>
</html>