<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
<body>
  <%- include("./shared/header") %>
  <div class="container-fluid backgroundColor">
    <div class="container">
      <div class="row" style="margin-top:100px">
        <img src="<%= recipe.image %>" alt="<%= recipe.name %>" class="recipe-img">
      </div>
      <div class="row">
        <div class="col-3 green-line"></div>
      </div>
      <div class="row ht200">
        <div class="col-4 topRecipes">
          <p><%= recipe.name %></p>
        </div>
      </div>
      <div class="row" style="margin-bottom:30px;">
        <div class="col-6 secondHeader">
          <p style="font-weight:bold">Ingredients:
            <ul>
              <% for( let i = 0; i < recipe.ingredients.length; i++ ) { %>
                <li><%= `${recipe.ingredients[i].amount} ${recipe.ingredients[i].ingredient_id}` %></li>
              <% } %>
            </ul>
          </p>
          <p style="font-weight:bold">Instructions:
            <ol>
              <% for( let i = 0; i < recipe.steps.length; i++ ) { %>
                <li><%= recipe.steps[i] %></li>
              <% } %>
            </ol>
          </p>
        </div>
        <div class="col-6 secondHeader">
          <p>Prep Time: 3 mins</p>
          <p>Cook Time: 4 mins</p>
        </div>
      </div>
    </div>
  </div>

  <%- include("./shared/footer") %>
</body>
</html>