<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./shared/styles") %>
  <title><%= pageTitle %></title>
</head>
<body>
  <%- include("./shared/header") %>
  
  <div class="container-fluid backgroundColor">
    <div class="container">
      <div class="row" style="margin-top:100px">
        Your Orders:
      </div>
      
      <div>
        <% if (orders.length == 0) { %>
          <li>No Orders Placed</li>
        <% } else { %>
          <%previousOrder = 0;%>
            <% for(let i = 0; i < orderitems.length; i++) { %>
              <% if (orderitems[i].orderid != previousOrder) { %>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Fulfilled At</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= `${products[i]}` %></td>
                    <td><%= `${orderitems[i].amount}` %></td>
                    <%if (orderitems[i].fulfilledAt === null){ %>
                      <td>Not Fulfilled</td>
                    <% } else { %>
                    <td><%= `${orderitems[i].fulfilledAt}` %></td>
                    <% } %>
                  </tr>
                </tbody>
                
                <% } else { %>
              <tbody>
                <tr>
                  <td><%= `${products[i]}` %></td>
                  <td><%= `${orderitems[i].amount}` %></td>
                  <%if (orderitems[i].fulfilledAt === null){ %>
                    <td>Not Fulfilled</td>
                  <% } else { %>
                  <td><%= `${orderitems[i].fulfilledAt}` %></td>
                  <% } %>
                </tr>
              </tbody>
            <% } %>
            <%previousOrder = orderitems[i].orderid;%>
            <% } %>
          </table>
          <% } %>
      </div>
    </div>
  </div>

  <%- include("./shared/footer") %>
</body>
</html>
